@import "../app.component"

h1
    color: $green
    text-align: center
    font-size: 3.5rem
    margin: 1rem
    font-family: 'Architects Daughter', cursive
    @include media-max($pixel: 600px)
        font-size: 2rem
    @include media-max($pixel: 400px)
        font-size: 1.4rem

h2
    text-align: center
    color: $grey
    font-size: 1.5rem
    @include media-max($pixel: 600px)
        font-size: 1rem
    @include media-max($pixel: 400px)
        font-size: 0.8rem

ul
    list-style-type: none
    display: flex

a
    text-decoration: none

.header-top
    display: flex
    justify-content: center
    align-items: center
    background-color: $darkgrey
    .titles-container
        display: flex
        justify-content: center
        align-items: center
        .img-ylies
            height: 110px
            width: 110px
            border-radius: 50%
            @include media-max($pixel: 500px)
                height: 50px
                width: 50px
                margin: 0.5rem

    .social-networks-links
        display: flex
        flex-direction: column
        @include media-max($pixel: 500px)
            padding-left: 0.5rem

        li
            height: 56px
            width: 56px
            @include media-max($pixel: 500px)
                height: 30px
                width: 30px

        li:hover
            cursor: pointer
        .link-1
            border: 2px solid $pink
        .link-2
            border: 2px solid $yellow
            margin-right: 59px
        .link-3
            border: 2px solid $green
        .margin-left
            margin-left: 60px
            @include media-max($pixel: 500px)
                margin-left: 34px

        .icon
            height: 40px
            width: 40px
            padding: 8px
            transition: all 0.3s ease-out
            @include media-max($pixel: 500px)
                height: 24px
                width: 24px
                padding: 3px
        .icon:hover
            cursor: pointer
            height: 50px
            width: 50px
            padding: 3px
            transition: all 0.4s ease-out

.menu-container
    display: flex
    width: 100%
    justify-content: center
    .menu
        justify-content: space-evenly
        font-weight: bold
        margin: 0rem 0rem
        width: 50rem
        padding: 0.5rem 0rem
        background-color: $grey
        @include media-max($pixel: 500px)
            margin: 0rem 1rem

        li
            padding: 0.5rem 1rem
            border-radius: 1.5rem
            magin: 1rem
            transition: all 0.4s ease-out
            @include media-max($pixel: 500px)
                font-size: 0.8rem
            //background: white
        li:hover
            cursor: pointer
            transition: all 0.4s ease-out
            padding: 0.5rem 2rem
        .link-1
            border: 2px solid $pink
            color: $pink
        .link-2
            border: 2px solid $yellow
            color: $yellow
        .link-3
            border: 2px solid $green
            color: $green

//Mise en page propre

// $breakpoints: (
//         phone-down: 500px,
//         tablet-up: 768px,
//         tablet-down: 900px,
//         desktop-up: 1024px,
//         desktop-down: 1280px,
//         widescreen-up: 1440px
// )

// /* from... */
// @mixin media-min($_key)
//     @media screen and (min-width: map-get($breakpoints, $_key))
//         @content

// /* to... */
// @mixin media-max($_key)
//     @media screen and (max-width: map-get($breakpoints, $_key) - 1)
//         @content

// /* from... to... */
// @mixin media-between($_keymin, $_keymax)
//     @media screen and (min-width: map-get($breakpoints, $_keymin)) and (max-width: map-get($breakpoints, $_keymax) - 1)
//         @content

// /* at... */
// @mixin media($_key)
//     @media screen and (min-width: map-get($breakpoints, $_key)) and (max-width: map-get($breakpoints, nth(map-keys($breakpoints), index(map-keys($breakpoints), $_key) + 1)) - 1)
//         @content
