<div class="app-header-container">
  <div class="header-top">

    <div class="titles-container">
      <img class="img-ylies" src="../../assets/ylies-web.png" alt="Yliès Rochdi">
      <div class="titles">
        <a href="/">
          <h1>Yliès Rochdi</h1>
        </a>


        <h2>Concepteur développeur d'applications</h2>
      </div>
    </div>


    <ul class="social-networks-links">
      <li class="link-1 margin-left"><a href="https://github.com/Satoshishi00" target="_blank"><img class="icon"
            src="../../assets/github-1200**2.png" alt="github" sizes='200px, 200px'></a>
      </li>
      <li class="link-2"><a href="https://stackoverflow.com/users/11982466/satoshi?tab=profile" target="_blank"><img
            class="icon" src="../../assets/stack-overflow-1200**2.png" alt="Stackoverflow"></a></li>
      <li class="link-3 margin-left"><a href="https://www.linkedin.com/in/yliesrochdi/" target="_blank"><img
            class="icon" src="../../assets/linkedin.png" alt="Linkedin"></a></li>
    </ul>
  </div>


  <div class="menu-container">
    <ul class="menu">
      <li class="link-1"><a href="projects">Mes projets</a></li>
      <li class="link-2"><a href="tools">Outils</a></li>
      <li class="link-3" (click)="toogleContactForm()">Contact</li>
    </ul>
  </div>

</div>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
