@import '../app.component'

ul
    list-style-type: none
    display: flex

a
    text-decoration: none

.app-projects-container
    padding-bottom: 3rem
    h2
        text-align: center
        font-size: 2.2rem
        margin-bottom: 4rem
        @include media-max($pixel: 500px)
            margin-bottom: 2.4rem

    ul
        flex-direction: column
        margin: 0rem
        padding: 0rem
        align-items: center
        @include media-max($pixel: 500px)
            margin: 0rem 1rem

        li
            margin-bottom: 2rem
            border: 1px solid grey
            padding: 0.5rem
            border-radius: 1rem
            width: 32rem
            @include media-max($pixel: 550px)
                width: 90%

            a
                display: flex
                @include media-max($pixel: 500px)
                    flex-direction: column-reverse
                    align-items: center
                    text-align: center
                img
                    width: 15rem
                    height: 12rem
                .text
                    color: black
                    h3
                        font-size: 1.8rem
                        margin: 0rem 0rem 1rem 1rem
                    p
                        margin-left: 1rem
