<form action="https://mailthis.to/ylies.rochdi@live.fr" method="POST" encType="multipart/form-data">
  <input type="text" name="name" placeholder="Your name">
  <input type="email" name="_replyto" placeholder="Your email">
  <textarea name="message" placeholder="Enter your message here"></textarea>
  <input type="file" name="file" placeholder="Attachments (optional)">
  <input type="hidden" name="_subject" value="Contact form submitted">
  <input type="hidden" name="_after" value="/">
  <input type="hidden" name="_honeypot" value="">
  <input type="hidden" name="_confirmation" value="">
  <input type="submit" value="Send">
</form>


<!-- <div class="app-contact-container" id="app-contact-container">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close" (click)="closeModal($event)"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
          </div>
          <div class="app-contact">CONTACT INFO : contact@ylies.xyz</div>
        </div>
        <div class="screen-body-item">
          <form class="app-form" action="https://mailthis.to/contact@ylies.xyz" method="POST"
            encType="multipart/form-data">
            <div class="app-form-group">
              <input class="app-form-control" type="text" name="name" placeholder="NOM">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" type="email" name="_replyto" placeholder="EMAIL">
            </div>
            <div class="app-form-group message">
              <textarea class="app-form-control" name="message" placeholder="MESSAGE"></textarea>
            </div>
            <input type="hidden" name="_subject" value="Contact ylies.xyz">
            <input type="hidden" name="_after" value="">
            <input type="hidden" name="_honeypot" value="">
            <input type="hidden" name="_confirmation" value="">
            <div class="app-form-group buttons">
              <button class="app-form-button" (click)="closeModal($event)">CANCEL</button>
              <input class="app-form-button" type="submit" value="SEND">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
