<section id="brut-net" class="brut-net">

  <h1>Salaire brut en net</h1>

  <form action="">
    <div>
      <span class="col1-label">Salaire</span>
      <span class="col2-brut">Brut</span>
      <span class="col3-net">Net</span>
    </div>

    <div>
      <span class="col1-label">Horaire</span>
      <div class="col2-brut"><input type="text" name="horaire-brut" id="horaire-brut" value="0"></div>
      <div class="col3-net"><input type="text" name="horaire-net" id="horaire-net" value=" 0"></div>
    </div>

    <div>
      <span class="col1-label">Mensuel</span>
      <div class="col2-brut"><input type="text" name="mensuel-brut" id="mensuel-brut" value="0"></div>
      <div class="col3-net"><input type="text" name="mensuel-net" id="mensuel-net" value="0"></div>
    </div>

    <div>
      <span class="col1-label">Anuel</span>
      <div class="col2-brut"><input type="text" name="annuel-brut" id="annuel-brut" value="0"></div>
      <div class="col3-net"><input type="text" name="annuel-net" id="annuel-net" value="0"></div>
    </div>

    <div>
      <div class="column">
        <label for="salarie-non-cadre" class="">Salarié non-cadre</label>
        <input type="radio" name="contrat" id="salarie-non-cadre" value="true" checked>
      </div>

      <div class="column">
        <label for="salarie-cadre" class="">Salarié cadre</label>
        <input type="radio" name="contrat" id="salarie-cadre" value="false">
      </div>

      <div class="column">
        <label for="fonction-publique" class="">Fonction publique</label>
        <input type="radio" name="contrat" id="fonction-publique" value="false">
      </div>

      <div class="column">
        <label for="liberale" class="">Profession libérale</label>
        <input type="radio" name="contrat" id="liberale" value="false">
      </div>

      <div class="column">
        <label for="portage" class="">Portage salarial</label>
        <input type="radio" name="contrat" id="portage" value="false">
      </div>

    </div>
  </form>




</section>
