@import '../app.component'

.brut-net
    font-family: 'Architects Daughter', cursive
    display: flex
    flex-direction: column
    align-items: center

    form
        display: flex
        flex-direction: column
        align-items: center
        div
            display: flex
            flex-direction: row
            .col1-label
                width: 7rem

            .col2-brut
                width: 7rem
                input
                    width: 80%
            .col3-net
                width: 7rem
                input
                    width: 80%

            .column
                display: flex
                flex-direction: column
                align-items: center
                width: 7rem
                height: 4rem
                margin: 1.5rem 1rem 0rem
                label
                    text-align: center
                    height: 3rem
