<section id="section" class="tab-amortissement">
  <h1>Tableau d'amortissement</h1>
  <form action="">
    <div>
      <label for="amount">Montant</label>
      <input type="text" name="amount" id="amount">
    </div>
    <div>
      <label for="time">Nombre d'années</label>
      <input type="number" name="time" id="time">
    </div>
    <div>
      <label for="annual_rate">Taux annuel (%)</label>
      <input type="number" step="0.01" name="annual_rate" id="annual_rate">
    </div>
    <input type="submit" value="SIMULER" id="simuler" class="btn-simuler" (click)='simulate($event)'>
  </form>

  <div id="abstract" class="abstract">
    <div><span class="total-label">Total des mensualités</span><span class="total-amount-mensuality"
        id="totalCreditCost"></span>
    </div>
    <div><span class="total-label">Total des intérêts</span><span class="total-amount-interest" id="interest"></span>
    </div>
  </div>

  <table id="table">

  </table>

</section>
