<div class="app-tools-container">
  <h2>Outils</h2>

  <ul>

    <li>
      <a href="/">
        <img src="../../assets/sigma-1200**2.png" alt="Sigma">
        <div class="text">
          <h3>Tableau d'amortissement</h3>
          <p>Faites des simulations d'emprunts avec mon tableau d'amortissement</p>
        </div>
      </a>
    </li>

    <li>
      <a href="/">
        <img src="../../assets/sigma-1200**2.png" alt="Sigma">
        <div class="text">
          <h3>Déterminer ses impots</h3>
          <p>Estimez vos impôts sur le revenu</p>
        </div>
      </a>
    </li>

  </ul>

</div>
