<div class="app-tools-container">
  <h2>Outils</h2>

  <ul>

    <li>
      <a href="tableau-amortissement">
        <img src="../../assets/sigma.png" alt="Sigma">
        <div class="text">
          <h3>Tableau d'amortissement</h3>
          <p>Faites des simulations d'emprunts avec mon tableau d'amortissement</p>
        </div>
      </a>
    </li>

    <li>
      <a href="impots-revenu">
        <img src="../../assets/sigma.png" alt="Sigma">
        <div class="text">
          <h3>Déterminer ses impots</h3>
          <p>Estimez vos impôts sur le revenu</p>
        </div>
      </a>
    </li>

    <li>
      <a href="investissement-locatif">
        <img src=" ../../assets/sigma.png" alt="Sigma">
        <div class="text">
          <h3>Investissement locatif</h3>
          <p>Faites des simulations d'investissement locatif avec mon outil de simulation</p>
        </div>
      </a>
    </li>

  </ul>

</div>
