<div class="app-macadam-container">

  <h2>Macadam</h2>

  <h3>Origine du projet</h3>
  <p>
    Voici un projet que j'ai fait un première année de licence d'informatique.<br>
    Le but était de faire un jeu de société jouable dans un terminal en python.<br>
    Pour éviter la copie de code, les enseignants ont inventés de nouveaux jeux de plateau dérivés de jeux connus.<br>
  </p>


  <h3>Scénarios de déplacements</h3>

  <h4>Les déplacements dans son camp</h4>

  <p>
    Dans tous les scénarios ci-dessous, on considérera la zone verte comme celle des noirs, la zone bleue comme celle
    des blancs et les zones jaunes à l'intérieur de ces zones comme des cages.<br>
    On considérera aussi tous les points rouges comme étant les zones possibles dans lesquelles peut se déplacer le pion
    initialement considéré.
  </p>

  <h5>Les déplacements dans son camp ne peuvent se faire que de façon orthogonale</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-1.png" alt="deplacement orthogonal dans son camp">

  <h5>Les déplacements orthogonaux dans son camp sont bloqués en cas d'obstacle</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-2.png" alt="les obstacles bloquent les déplacements">

  <h5>Le déplacement interdit dans les cages de son camp</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-3.png" alt="Déplacement interdit dans ses propres cages">

  <h5>Un pion peut se déplacer en sautant un pion allié orthogonalement et diagonalement</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-4.png"
    alt="Déplacement dans son camp par saut de pions alliés">

  <h5>Un pion peut enchaîner les sauts sur les pions alliés, mais ne peut plus se déplacer ensuite</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-5.png" alt="Enchainement de sauts de pions alliés">


  <h4>Les déplacements dans la zone adverse</h4>

  <h5>Dans la zone adverse, un pion ne peut se déplacer que par sauts de pions alliés</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-6.png"
    alt="Déplcement par sauts de pions alliés dans zone adverse">

  <h5>Un pion ne peut pas se déplacer en sautant un pion adverse</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-7.png"
    alt="Obligation de ne sauter un pion allié pour se mouvoir dans la zone adverse">

  <h5>Un pion ne peut se déplacer sans saut dans le camp adverse</h5>

  <img class='img-macadam' src="../../assets/macadam-dpl-8.png"
    alt="Obligation de ne sauter un pion allié pour se mouvoir dans la zone adverse">

  <h3>Scénario d'une fin de partie</h3>

  <h4>Tour des NOIRS</h4>

  <img class='img-macadam' src="../../assets/macadam-dpl-9.png" alt="tour des noirs macadam">

  <h4>Tour des BLANCS</h4>

  <img class='img-macadam' src="../../assets/macadam-dpl-10.png" alt="tour des blancs macadam">

  <h4>Tour des NOIRS</h4>

  <img class='img-macadam' src="../../assets/macadam-dpl-11.png" alt="tour des noirs macadam">

  <h4>Tour des BLANCS</h4>

  <img class='img-macadam' src="../../assets/macadam-dpl-12.png" alt="tour des blancs macadam">

  <h4>Tour des NOIRS</h4>

  <img class='img-macadam' src="../../assets/macadam-dpl-13.png" alt="tour des noirs macadam">

  <p class="run-macadam">
    Appuyez sur <span>Run</span> pour lancer le jeu dans la console
  </p>


  <iframe src="https://trinket.io/embed/python3/3bc2dd5e5c" width="100%" height="800" frameborder="0" marginwidth="0"
    marginheight="0" allowfullscreen></iframe>


</div>
