<div class="app-home-container">
  <div class="column">
    <h2>Projets</h2>

    <ul>

      <li>
        <a href="https://www.brainers.xyz" target="_blank">
          <img src="../../assets/brainers.png" alt="Brainers">
          <div class="text">
            <h3>Brainers</h3>
            <p>Site d'outils d'apprentissage public</p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://www.assofaitesdelamusique.fr" target="_blank">
          <img src="../../assets/assofaitesdelamusique.png" alt="Association faites de la musique">
          <div class="text">
            <h3>Faites de la musique</h3>
            <p>Site d'une association musicale</p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://www.horticulture-duffaut.fr" target="_blank">
          <img src="../../assets/horticulture-duffaut.png" alt="Horticulture Duffaut">
          <div class="text">
            <h3>Horticulture Duffaut</h3>
            <p>Site d'une horticulture, cataloguant les plantes disponibles à la vente</p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://www.rochdimaths.com" target="_blank">
          <img src="../../assets/rochdimaths.png" alt="Rochdi Maths">
          <div class="text">
            <h3>Rochdi Maths</h3>
            <p>Site de mathématiques</p>
          </div>
        </a>
      </li>

    </ul>

    <a href="projects" class="btn-add-infos"><button>Afficher plus</button></a>
  </div>

  <div class="column">
    <h2>Outils</h2>

    <ul>

      <li>
        <a href="tableau-amortissement">
          <img src="../../assets/sigma.png" alt="Sigma">
          <div class="text">
            <h3>Tableau d'amortissement</h3>
            <p>Faites des simulations d'emprunts avec mon tableau d'amortissement</p>
          </div>
        </a>
      </li>

      <li>
        <a href="impots-revenu">
          <img src="../../assets/sigma.png" alt="Sigma">
          <div class="text">
            <h3>Déterminer ses impots</h3>
            <p>Estimez vos impôts sur le revenu</p>
          </div>
        </a>
      </li>

      <li>
        <a href="investissement-locatif">
          <img src=" ../../assets/sigma.png" alt="Sigma">
          <div class="text">
            <h3>Investissement locatif</h3>
            <p>Faites des simulations d'investissement locatif avec mon outil de simulation</p>
          </div>
        </a>
      </li>

      <li>
        <a href="frais-notaire">
          <img src=" ../../assets/sigma.png" alt="Sigma">
          <div class="text">
            <h3>Frais de notaire</h3>
            <p>Envie d'effectuer un achat immobilier ? Estimez vos frais de notaire</p>
          </div>
        </a>
      </li>

    </ul>

    <a href="tools" class="btn-add-infos"><button>Afficher plus</button></a>

  </div>
</div>
